.diagram-contents .stencil {
  border            : 1px solid #346789;
  box-shadow        : 2px 2px 19px #aaa;
  -o-box-shadow     : 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow   : 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius     : 0.5em;
  opacity           : 0.8;
  filter            : alpha(opacity=80);
  text-align        : center;
  z-index           : 20;
  position          : absolute;
  background-color  : #eeeeef;
  color             : black;
  font-family       : helvetica;
  padding           : 0.5em;
  font-size         : 0.9em;

  line-height: normal !important;

  width: 80px;
  height: 80px;

  background-repeat: no-repeat;
  background-size: contain;

}
.diagram-contents .stencil:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
  filter: alpha(opacity=60);

}
.diagram-contents .active {
  border: 1px dotted green;
}
.diagram-contents .hover {
  border: 1px dotted red;

}
.diagram-contents ._jsPlumb_connector {
  z-index: 4;
}
.diagram-contents ._jsPlumb_endpoint,
.endpointTargetLabel,
.endpointSourceLabel {
  z-index: 21;
  cursor: pointer;
}
.diagram-contents .aLabel {
  background-color: white;
  padding         : 0.4em;
  font            : 12px sans-serif;
  color           : #444;
  z-index         : 21;
  border          : 1px dotted gray;
  opacity         : 0.8;
  filter          : alpha(opacity=80);
  cursor          : pointer;
}
.diagram-contents .aLabel._jsPlumb_hover {
  background-color: #5c96bc;
  color: white;
  border: 1px solid white;
}

.stencil.selected-stencil {
    background-color: #5492FF;
}

.aLabel.selected-flow {
    background-color: #5492FF;
}

.stencil-item {
  height: 110px; //For really long names of stencils :/
  margin-top: 10px;
  text-align: center;
}

.stencil-search {
  width: 95% !important;
  margin-left: 10px !important;
}

// Shapes
.circle {
  width: 100px !important;
  height: 100px !important;
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important;

  p {
    margin-top: 25px;
  }
}

.ellipse {
  width: 200px !important;
  height: 100px !important;
  -moz-border-radius: 100px / 50px !important;
  -webkit-border-radius: 100px / 50px !important;
  border-radius: 100px / 50px !important;

  p {
    margin-top: 30px;
  }
}
