// Variables
$sidebar-left-width: 350px;
$nav-bar-top-height: 50px;
$sidebar-left-height: 300px;

//
.content-left {
  position: absolute;
  top: $nav-bar-top-height;
  bottom: 0px;
  left: 0px;
  width: $sidebar-left-width;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid lightgrey;
  // margin-left: 15px;


  .stencils-container {

    .panel-body {
      padding-top: 0px;

      .all-stencils {
        padding-top: 15px;
        // max-height: $sidebar-left-height;
        overflow-y: scroll;
        overflow-x: hidden;
      }

    }

  }

}

.content-right {
  position: absolute;
  top: $nav-bar-top-height;
  bottom: 0px;
  left: $sidebar-left-width;
  right: 0px;

  .drawing-panel {
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    top: $nav-bar-top-height + 1;
    bottom: 0px;
    margin-bottom: 0px;
  }

  .jsPlumb-area {
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

}
