<div class="site-wrapper">
  <div class="site-wrapper-inner">
    
    <div class="cover-container">
      
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">SeaSponge</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="#/about">About</a></li>
              <li><a href="https://github.com/mozilla/seasponge/wiki">Documentation</a></li>
              <li><a href="https://www.github.com/mozilla/seasponge">Github</a></li>
            </ul>
          </nav>
        </div>
      </div>
        
      <div class="inner cover">
        <p class="lead">Create a Model</p>
        <form role="form" class="create-form">

          <div class="form-group">
            <label for="project-name">Project Title</label>
            <input type="text" class="form-control" id="project-name" 
            placeholder="Project Title" ng-model="title">
          </div>

          <div class="form-group">
            <label for="authors">Authors</label>
            <input type="text" class="form-control" id="authors" 
            placeholder="Authors" ng-model="authors">
          </div>

          <div class="form-group">
            <label for="version">Version</label>
            <input type="text" class="form-control" id="version" 
            placeholder="Version" ng-model="version">
          </div>

          <button type="submit" class="btn btn-default" ng-click="createModel()">Start Modeling!</button>

        </form>
      </div>

    </div>

  </div>
</div>
