<div class="">
  
  <!-- Top Nav Bar -->
  <div class="nav-top">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <a href="#/create" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
            New
        </a>
        <a href="#/load" class="btn btn-default">
            <i class="glyphicon glyphicon-floppy-open"></i>
            Load
        </a>
        <button type="button" class="btn btn-default" ng-click="saveModel()">
            <i class="glyphicon glyphicon-floppy-save"></i> Save
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default">
        <i class="glyphicon glyphicon-zoom-in"></i> Zoom-In</button>
        <button type="button" class="btn btn-default">
        <i class="glyphicon glyphicon-zoom-out"></i> Zoom-Out</button>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-link" ng-click="openModelInfo()">
              {{model.title}}
          </button>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" 
        ng-click="exportDiagram()">
            <i class="glyphicon glyphicon-export"></i>
            Export Diagram as Image
        </button>
      </div>
    </div>
    <br/>
  </div>
  
  <!-- Main Content -->
  <div class="row">

    <!-- Left sidebar controls -->
    <div class="content-left">

      <accordion close-others="false">

        <!-- Model Info -->
        <accordion-group is-open="menu.infoOpen">

          <accordion-heading>
            Model Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': menu.threatsOpen, 'glyphicon-chevron-right': !menu.threatsOpen}"></i>
          </accordion-heading>

          <form class="form" role="form">

            <div class="form-group">
              <label for="model-title" class="">Model Title</label>
              <input type="text"
              class="form-control" id="model-title" placeholder="Model Title" 
              ng-model="model.title">
            </div>

            <div class="form-group">
              <label for="model-version" class="">Version</label>
              <input type="text"
              class="form-control" id="model-version" placeholder="Model Version" 
              ng-model="model.version">
            </div>

            <div class="form-group">
              <label for="model-authors" class="">Authors</label>
              <input type="text"
              class="form-control" id="model-authors" placeholder="Model Authors" 
              ng-model="model.authors">
            </div>

          </form>

        </accordion-group>


        <!-- Stencils -->
        <accordion-group class="stencils-container" is-open="menu.stencilsOpen">

          <accordion-heading>
            Stencils <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': menu.stencilsOpen, 'glyphicon-chevron-right': !menu.stencilsOpen}"></i>
          </accordion-heading>

          <div class="all-stencils row">
            <input type="text" class="form-control stencil-search" ng-model="stencilQuery" placeholder="Search Stencils">
            <div data-ng-repeat="stencil in filterFn(stencilQuery, stencils)">
                <div class="stencil col-xs-6 col-md-4 col-lg-4"
                draggable="true" data-drag="true" jqyoui-draggable ng-model="stencil"
                data-jqyoui-options="{helper: 'clone', animate: true, placeholder: 'keep'}">
                  <a href="" class="thumbnail stencil-item" ng-click="addStencil(stencil)">
                    <!-- <img ng-src="{{stencil.icon}}" ng-alt="{{stencil.title}}"> -->
                    <span class="stencil-name">{{stencil.title}}</span>
                    <br/>
                    <span class="stencil-type label label-info">{{stencil.category}}</span>
                  </a>
                </div>
            </div>
          
          </div>
        </accordion-group>

        <!-- Threats -->
        <accordion-group is-open="menu.threatsOpen">

          <accordion-heading>
            Threat Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': menu.threatsOpen, 'glyphicon-chevron-right': !menu.threatsOpen}"></i>
          </accordion-heading>

          <div class="lead">
              Threat Information coming soon!
          </div>

        </accordion-group>

        <!-- Selected Element Properties -->
        <accordion-group is-open="menu.propertiesOpen">

          <accordion-heading>
            Properties
            <small>- {{selectedStencil.constructor.title}}
            <span class="label label-info">{{selectedStencil.constructor.category}}</span>
            </small>
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': menu.propertiesOpen, 'glyphicon-chevron-right': !menu.propertiesOpen}"></i>
          </accordion-heading>

          <form class="form" role="form" ng-hide="!selectedStencil">

            <div class="form-group">
              <label for="properties-name" class="">Name</label>
              <br/>
              {{selectedStencil.constructor.title}}
            </div>

            <div class="form-group">
              <label for="properties-category" class="">Category</label>
              <br/>
              {{selectedStencil.constructor.category}}
            </div>

            <div class="form-group">
              <label for="properties-tags" class="">Tags</label>
              <input type="text"
              class="form-control" id="properties-tags" placeholder="Comma separated tags" 
              ng-model="selectedStencil.tags">
            </div>

            <div class="form-group">
              <label for="properties-codeType" class="">Code Type</label>
              <select class="form-control" id="properties-codeType" 
              ng-options="codeType for codeType in codeTypeOptions"
              ng-model="selectedStencil.codeType">
              </select>
            </div>

            <div class="form-group">
              <label for="properties-runningAs" class="">Running As</label>
              <select class="form-control" id="properties-runningAs" 
              ng-model="selectedStencil.runningAs"
              ng-options="runningAs for runningAs in runningAsOptions">
              </select>
            </div>

            <div class="form-group">
              <label for="properties-acceptsInput" class="">Accepts Input From</label>
              <select class="form-control" id="properties-acceptsInput" 
              ng-model="selectedStencil.acceptsInput"
              ng-options="acceptsInput for acceptsInput in acceptsInputOptions">
              </select>
            </div>

            <div class="form-group">
              <label for="properties-authenticationScheme-uses" class="">Has Authentication Scheme</label>
              <input type="checkbox" 
              class="form-control" id="properties-authenticationScheme-uses" 
              ng-model="selectedStencil.authenticationScheme.uses">
            </div>

            <div class="form-group" ng-if="selectedStencil.authenticationScheme.uses">
              <label for="properties-authenticationScheme-description" class="">Authentication Scheme Description</label>
              <input type="text" 
              class="form-control" id="properties-authenticationScheme-description" placeholder="Value" 
              ng-model="selectedStencil.authenticationScheme.description">
            </div>

            <div class="form-group">
              <label for="properties-communicationProtocol-uses" class="">Has Communication Protocol</label>
              <input type="checkbox" 
              class="form-control" id="properties-communicationProtocol-uses" 
              ng-model="selectedStencil.communicationProtocol.uses">
            </div>

            <div class="form-group" ng-if="selectedStencil.communicationProtocol.uses">
              <label for="properties-communicationProtocol-description" class="">Communication Protocol Description</label>
              <input type="text" 
              class="form-control" id="properties-communicationProtocol-description" placeholder="Value" 
              ng-model="selectedStencil.communicationProtocol.description">
            </div>

            <div class="form-group">
              <label for="properties-authorizationScheme-uses" class="">Has Authorization Scheme</label>
              <input type="checkbox" 
              class="form-control" id="properties-authorizationScheme-uses" 
              ng-model="selectedStencil.authorizationScheme.uses">
            </div>

            <div class="form-group" ng-if="selectedStencil.authorizationScheme.uses">
              <label for="properties-authorizationScheme-description" class="">Authorization Scheme Description</label>
              <input type="text"
              class="form-control" id="properties-authorizationScheme-description" placeholder="Value" 
              ng-model="selectedStencil.authorizationScheme.description">
            </div>

            <div class="form-group">
              <label for="properties-notes" class="">Notes</label>
              <textarea 
              class="form-control" id="properties-notes" placeholder="Notes"></textarea 
              ng-model="selectedStencil.notes">
            </div>

          </form>

          <div class="lead" ng-hide="selectedStencil">
            Select an element to view its properties
          </div>

        </accordion-group>

      </accordion>

    </div>

    <!-- Right content -->
    <div class="content-right">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="diagram in model.diagrams" 
        ng-class="{active: diagram.selected}">
            <a href="" ng-click="loadDiagram(diagram)" role="tab" data-toggle="tab">{{diagram.title}}</a>
        </li>
        <li>
            <a href="" ng-click="model.addDiagram()" class="">
                <i class="glyphicon glyphicon-plus"></i>
                Diagram
            </a>
        </li>
        <li class="pull-right"><a href="#report" role="tab" data-toggle="tab">Reports</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="drawing-panel" data-drop="true"
      jqyoui-droppable="{onDrop:'dropStencil'}">
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="diagram-contents">
                <!-- KEEP THIS EMPTY -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
