<div class="">

  <div class="nav-top">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> New</button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-zoom-in"></i> Zoom-In</button>
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-zoom-out"></i> Zoom-Out</button>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
      </div>
    </div>

    <ul class="nav nav-pills">
      <li class=""
      <li class=""><a href="#"><i class="glyphicon glyphicon-floppy-save"></i></a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>

  <div class="row">

    <div class="content-left">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Properties <small>- OS Process</small></h3>
        </div>
        <div class="panel-body">

          <form class="form" role="form">

            <div class="form-group">
              <label for="inputEmail3" class="">Attribute</label>
              <input type="email" class="form-control" id="inputEmail3" placeholder="Value">
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="">Attribute</label>
              <input type="email" class="form-control" id="inputEmail3" placeholder="Value">
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="">Attribute</label>
              <input type="email" class="form-control" id="inputEmail3" placeholder="Value">
            </div>

          </form>

        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Stencils</h3>
        </div>
        <div class="panel-body">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">OS Process</a></li>
            <li><a href="#profile" role="tab" data-toggle="tab">Diagram 2</a></li>
            <li><a href="#messages" role="tab" data-toggle="tab">Diagram 3</a></li>
            <li><a href="#settings" role="tab" data-toggle="tab">Diagram 4</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="home">

              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://upload.wikimedia.org/wikipedia/de/2/2e/Mozilla_Firefox_Logo.png" alt="...">
                  </a>
                </div>
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://upload.wikimedia.org/wikipedia/de/2/2e/Mozilla_Firefox_Logo.png" alt="...">
                  </a>
                </div>
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://upload.wikimedia.org/wikipedia/de/2/2e/Mozilla_Firefox_Logo.png" alt="...">
                  </a>
                </div>
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://upload.wikimedia.org/wikipedia/de/2/2e/Mozilla_Firefox_Logo.png" alt="...">
                  </a>
                </div>

              </div>

            </div>
            <div class="tab-pane" id="profile">...</div>
            <div class="tab-pane" id="messages">...</div>
            <div class="tab-pane" id="settings">...</div>
          </div>

        </div>
      </div>

    </div>

    <div class="content-right">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">Diagram 1</a></li>
        <li><a href="#profile" role="tab" data-toggle="tab">Diagram 2</a></li>
        <li><a href="#messages" role="tab" data-toggle="tab">Diagram 3</a></li>
        <li><a href="#settings" role="tab" data-toggle="tab">Diagram 4</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="drawing-panel well">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="jsPlumb-area" id="jsPlumb-area">
              <div class="window" id="sourceWindow1">
                <strong>Window 1</strong>
                <a href="#" id="enableDisableSource">disable</a>
              </div>
              <div class="window smallWindow" id="targetWindow2"><strong>Window 2</strong><br/><br/></div>
              <div class="window smallWindow" id="targetWindow3"><strong>Window 3</strong><br/><br/></div>
              <div class="window smallWindow" id="targetWindow4"><strong>Window 4</strong><br/><br/></div>
              <div class="window smallWindow" id="targetWindow5"><strong>Window 5</strong><br/><br/></div>
              <div class="window smallWindow" id="targetWindow6"><strong>Window 6</strong><br/><br/></div>
            </div>
          </div>
          <div class="tab-pane" id="profile">...</div>
          <div class="tab-pane" id="messages">...</div>
          <div class="tab-pane" id="settings">...</div>
        </div>
      </div>

      <div class="drawing-info-panel">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#home" role="tab" data-toggle="tab">Threat Information</a></li>
          <li><a href="#profile" role="tab" data-toggle="tab">Message</a></li>
          <li><a href="#messages" role="tab" data-toggle="tab">Notes</a></li>
          <li><a href="#settings" role="tab" data-toggle="tab">Reports</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">...</div>
          <div class="tab-pane" id="profile">...</div>
          <div class="tab-pane" id="messages">...</div>
          <div class="tab-pane" id="settings">...</div>
        </div>
      </div>

    </div>

  </div>

</div>
